= simple_form_for @subject, :as => :subject, :url => @subject.new_record? ? admin_subjects_path : admin_subject_path(@subject), :html => { :class => 'form-horizontal form-horizontal-fixed', :remote => true } do |f|
  = f.input :name, :label => "Nazwa", :autocomplete => :off
  = f.input :system_name, :label => "Nazwa systemowa", :autocomplete => :off
  = f.association :users, :label => "Nauczyciele", :label_method => :fullname, :collection => @school.users.teachers
  = f.association :divisions, :label => "Klasy"

  .modal-footer
    #{link_to "Anuluj", '#', :data => { :dismiss => "modal" }, 'arial-hidden' => 'true', :class => 'btn'}
    = f.submit "Zapisz zmiany", :class => 'btn btn-primary'

